<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="container" style="margin: 20px">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#learners" data-bind="click: function(data){setCurrentTab(data, 'learners')}">Learners</a></li>
        <li><a data-toggle="tab" href="#orgs" data-bind="click: function(data){setCurrentTab(data, 'orgs')}">Organizations</a></li>
        <li><a data-toggle="tab" href="#depts" data-bind="click: function(data){setCurrentTab(data, 'depts')}">Departments</a></li>
        <li><a data-toggle="tab" href="#pegroups" data-bind="click: function(data){setCurrentTab(data, 'pegroups')}">People Groups</a></li>
        <li><a data-toggle="tab" href="#jobtitles" data-bind="click: function(data){setCurrentTab(data, 'jobtitles')}">Job Titles</a></li>         
        <li class="pull-right"><a class="validators" data-toggle="tab" href="#validators">Validators <span class="badge badge-info">0</span></a></li>     
      </ul>
      
      <div class="well" data-bind="text: ko.toJSON(tabs.selectedItems())"></div>

      <div class="tab-content">
        <div id="learners" class="tab-pane fade in active">
          <h3 class="tab-title">Learners</h3>            

            <p data-bind="if: currentTab() === 'learners'">
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 well">
                                <div class="form-group">
                                    <input data-bind="textInput: tabs.learners.searchText" placeholder="Search Learners..." 
                                        type="text" autocomplete="off" required="required" class="form-control" data-toggle="dropdown" aria-expanded="false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                        <div class="row">
                                <span class="pull-right" data-bind="text: `${results.learners().length} Results`"></span>
                                <table class="table table-hover table-striped">
                                    <tbody data-bind="event: { scroll: scrolled }" style="height: 500px">                            
                                        <!-- ko template: { name: "NC-LearnerTabSelection-LearnerTemplate", foreach: results.learners } -->
                                        <!-- /ko -->                        
                                    </tbody>
                                </table>
                                <div style="display:none" data-bind="visible: results.learners().length == 0">
                                    No Learners Found
                                </div>              
                         </div>   
                </div>
            </p>
        </div>
        <div id="orgs" class="tab-pane fade">
          <h3 class="tab-title">Organizations</h3>
                <p data-bind="if: currentTab() === 'orgs'">    
                    <div class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 well">
                                    <div class="form-group">
                                        <input data-bind="textInput: tabs.orgs.searchText" placeholder="Search Organizations..."
                                            type="text" autocomplete="off" required="required" class="form-control" data-toggle="dropdown" aria-expanded="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12"> 
                                    <span class="pull-right" data-bind="text: `${results.orgs().length} Results`"></span>
                                    <table class="table table-hover table-striped">
                                        <tbody data-bind="event: { scroll: scrolled }" style="height: 500px">                            
                                            <!-- ko template: { name: "NC-LearnerTabSelection-OrganizationsTemplate", foreach: results.orgs } -->
                                            <!-- /ko -->                        
                                        </tbody>
                                    </table>
                                    <div style="display:none" data-bind="visible: results.orgs().length == 0">
                                        No Organizations Found
                                    </div>              
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>

        <div id="depts" class="tab-pane fade">
            <h3 class="tab-title">Departments</h3>
            <p data-bind="if: currentTab() === 'depts'">    
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 well">
                                <div class="form-group">
                                    <input data-bind="textInput: tabs.depts.searchText" placeholder="Search Departments..."
                                        type="text" autocomplete="off" required="required" class="form-control" data-toggle="dropdown" aria-expanded="false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12"> 
                                <span class="pull-right" data-bind="text: `${results.depts().length} Results`"></span>
                                <table class="table table-hover table-striped">
                                    <tbody data-bind="event: { scroll: scrolled }" style="height: 500px">                            
                                        <!-- ko template: { name: "NC-LearnerTabSelection-DepartmentsTemplate", foreach: results.depts } -->
                                        <!-- /ko -->                        
                                    </tbody>
                                </table>
                                <div style="display:none" data-bind="visible: results.depts().length == 0">
                                    No Departments Found
                                </div>              
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        </div> 
        <div id="pegroups" class="tab-pane fade">
          <h3 class="tab-title">People Groups</h3>
          <p data-bind="if: currentTab() === 'pegroups'">
              <div class="section">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12 well">
                              <div class="form-group">
                                  <input data-bind="textInput: tabs.pegroups.searchText" placeholder="Search People Groups..." 
                                      type="text" autocomplete="off" required="required" class="form-control" data-toggle="dropdown" aria-expanded="false">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="section">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12"> 
                              <span class="pull-right" data-bind="text: `${results.pegroups().length} Results`"></span>
                              <table class="table table-hover table-striped">
                                  <tbody data-bind="event: { scroll: scrolled }" style="height: 500px">                            
                                      <!-- ko template: { name: "NC-LearnerTabSelection-PeopleGroupsTemplate", foreach: results.pegroups } -->
                                      <!-- /ko -->                        
                                  </tbody>
                              </table>
                              <div style="display:none" data-bind="visible: results.pegroups().length == 0">
                                  No Groups Found
                              </div>              
                          </div>
                      </div>
                  </div>
              </div>        
          </p>
        </div>      
        <div id="jobtitles" class="tab-pane fade">
                <h3 class="tab-title">Job Titles</h3>
                <p data-bind="if: currentTab() === 'jobtitles'">
                    <div class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 well">
                                    <div class="form-group">
                                        <input data-bind="textInput: tabs.jobtitles.searchText" placeholder="Search Job Titles..." 
                                            type="text" autocomplete="off" required="required" class="form-control" data-toggle="dropdown" aria-expanded="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12"> 
                                    <span class="pull-right" data-bind="text: `${results.jobtitles().length} Results`"></span>
                                    <table class="table table-hover table-striped">
                                        <tbody data-bind="event: { scroll: scrolled }" style="height: 500px">                            
                                            <!-- ko template: { name: "NC-LearnerTabSelection-JobTitleTemplate", foreach: results.jobtitles } -->
                                            <!-- /ko -->                        
                                        </tbody>
                                    </table>
                                    <div style="display:none" data-bind="visible: results.jobtitles().length == 0">
                                        No Groups Found
                                    </div>              
                                </div>
                            </div>
                        </div>
                    </div>        
                </p>
              </div>         
        <div id="validators" class="tab-pane fade">
            <h3 class="tab-title">Validators</h3>
            <button class="btn btn-default pull-right" data-bind="visible: showClearSelections(), click: handleClearSelections">Clear Selections</button>
            <p>
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 well">
                                <div class="form-group">
                                    <span class="pull-right"></span>
                                    <input data-bind="textInput: searchText" placeholder="Filter Selected Learners..." 
                                        type="text" autocomplete="off" required="required" class="form-control" data-toggle="dropdown" aria-expanded="false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12"> 
                                <table class="table table-hover table-striped">
                                    <tbody data-bind="event: { scroll: scrolled }" style="height: 500px">                                                            
                                        <!-- knockout template binding goes here -->                     
                                    </tbody>
                                </table>             
                            </div>
                        </div>
                    </div>
                </div>        
            </p>
        </div>                
    </div>
</div>


<script id="NC-LearnerTabSelection-LearnerTemplate" type="text/html">
    <tr>
       <td>
           <input type="checkbox" data-bind="checkedValue: Id, checked: $parent.tabs.selectedItems().learners"/>
        </td>
        <td>
           <div data-bind="text: ko.toJSON($data)"></div>
        </td>
    </tr>
</script>

<script id="NC-LearnerTabSelection-LearnerTemplate2" type="text/html">
    <tr>
        <td>
            <a href="#"><i class="-alt fa fa-2x fa-eye fa-fw"></i></a>
        </td>
        <td>
            <h4>
                <b data-bind="text: JobTitle"></b>
            </h4>
            <p>@<span data-bind="text: UserName"></span></p>
        </td>
        <td>
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle" width="60">
        </td>
        <td>
            <h4>
                <b data-bind="text: LastName + ', ' + FirstName"></b>
            </h4>
            <a data-bind="text: Email, attr: {href: 'mailto:' + Email}"></a>
        </td>
        <td>Hire Date: <span data-bind="text: HireDate"></span></td>
        <td>
            <div class="btn-group">
                <button class="btn btn-default" value="left" type="button" >
                    <i class="fa fa-fw s fa-remove"></i>Remove</button>
                <button class="btn btn-default" value="right" type="button" >
                    <i class="fa fa-fw fa-cog"></i>Settings</button>
            </div>
        </td>
    </tr>
</script>

<script id="NC-LearnerTabSelection-OrganizationsTemplate" type="text/html">
    <tr>
       <td>
            <input type="checkbox" data-bind="checkedValue: id, checked: $parent.tabs.selectedItems().orgs"/>
        </td>
        <td>
           <div data-bind="text: ko.toJSON($data)"></div>
        </td>
    </tr>
</script>

<script id="NC-LearnerTabSelection-DepartmentsTemplate" type="text/html">
    <tr>
       <td>
            <input type="checkbox" data-bind="checkedValue: id, checked: $parent.tabs.selectedItems().depts"/>
        </td>
        <td>
           <div data-bind="text: ko.toJSON($data)"></div>
        </td>
    </tr>
</script>

<script id="NC-LearnerTabSelection-PeopleGroupsTemplate" type="text/html">
    <tr>
       <td>
            <input type="checkbox" data-bind="checkedValue: id, checked: $parent.tabs.selectedItems().pegroups"/>
        </td>
        <td>
           <div data-bind="text: ko.toJSON($data)"></div>
        </td>
    </tr>
</script>

<script id="NC-LearnerTabSelection-JobTitleTemplate" type="text/html">
    <tr>
        <td>
                <input type="checkbox" data-bind="checkedValue: id, checked: $parent.tabs.selectedItems().jobtitles"/>
        </td>
        <td>
            <div data-bind="text: ko.toJSON($data)"></div>
        </td>
    </tr>  
</script>
