<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div style="width: 800px;margin: 20px">

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 well">
                    <div class="form-group">
                        <!-- <div class="input-group-btn search-panel">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept">Filter by</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#contains">Contains</a>
                                </li>
                                <li>
                                    <a href="#its_equal">It's equal</a>
                                </li>
                                <li>
                                    <a href="#greather_than">Greather than </a>
                                </li>
                                <li>
                                    <a href="#less_than">Less than </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#all">Anything</a>
                                </li>
                            </ul>
                        </div> -->
                        <input data-bind="textInput: searchText, attr: {placeholder: props.placeholder}" 
                            type="text" autocomplete="off" required="required" class="form-control" data-toggle="dropdown" aria-expanded="false">
                        <!-- <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <table class="table table-hover table-striped" data-bind="css: {loading : isSearching()}">
                        <tbody data-bind="event: { scroll: scrolled }" style="height: 500px">                            
                            <!-- ko template: { name: "userTemplate", foreach: results } -->
                            <!-- /ko -->                        
                        </tbody>
                    </table>
                    <div style="display:none" data-bind="visible: results().length == 0 && !isSearching()">
                        No Users Found
                    </div>              
                </div>
            </div>
        </div>
    </div>
</div>

<script id="userTemplate" type="text/html">
    <tr>
        <td>
            <a href="#"><i class="-alt fa fa-2x fa-eye fa-fw"></i></a>
        </td>
        <td>
            <h4>
                <b data-bind="click: sayHello, text: JobTitle"></b>
            </h4>
            <p>@<span data-bind="click: $parent.sayGoodbye, text: UserName"></span></p>
        </td>
        <td>
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle" width="60">
        </td>
        <td>
            <h4>
                <b data-bind="text: LastName + ', ' + FirstName"></b>
            </h4>
            <a data-bind="text: Email, attr: {href: 'mailto:' + Email}"></a>
        </td>
        <td>Hire Date: <span data-bind="text: HireDate"></span></td>
        <td>
            <div class="btn-group">
                <button class="btn btn-default" value="left" type="button" data-bind="click: $component.onRemoveUser">
                    <i class="fa fa-fw s fa-remove"></i>Remove</button>
                <button class="btn btn-default" value="right" type="button" data-bind="click: $component.displaySettings">
                    <i class="fa fa-fw fa-cog"></i>Settings</button>
            </div>
        </td>
    </tr>
</script>