
label {
 display:block; 
}

label:hover {
 background:#eee;
 cursor:pointer;
}

.form-group {
    margin-bottom: 0;
}

/* .nav-tabs li a.validators {
    background-color: #337ab7;
    color: #fff;
} */

table tbody{
    display:block;
    overflow:auto;
    height:100%;
   
  }
  table thead tr{
    display:inline-block;
    width: 100%;
  }

  table tbody tr{
    display: inline-block;
      width: 100%;
  }
  h3.tab-title {
    display: inline;
  }